
-
  tableSettings = {
    key: "tableBuilding",
    title: "Building",
    tooltipTitle : "list of Building that served by this device",
    collapse : true,
    filterable: true,
    columns: [
      {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "ID", name: "_id", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Code", name: "labelingCode", filter: {type: 'text'}},
      {label: "Built date", name: "builtDate", filter: {type: 'text'}},
      {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
      {label: "Floor", name: "floor", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
  
include ../component/new/table

-
  modalForm = {
    key: "openAddBuilding",
    title: "Create Building",
    form: {
      url: data.addUrl,
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "name", label: "Building Name", placeholder: "ex. Gedung A", validate:'empty', required:true},
          { name: "builtDate", label: "Built Date", type: "date",placeholder: "ex. 5", validate:'empty', required:true},
          { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/info/buildingType", method: "GET"}, resultMapping: { label: 'name', value: "name"}}},
          { name: "height", label: "Height (m)", placeholder: "ex. 30", validate:'empty', required:true},
          { name: "width", label: "Width (m)", placeholder: "ex. 20", validate:'empty', required:true},
          { name: "lengthBuilding", label: "Length (m)", placeholder: "ex. 40", validate:'empty', required:true},
          { name: "squareMeter", label: "Square Meter", placeholder: "ex. 40", validate:'empty', required:true},
          { name: "floor", label: "Number Of Floor", type: 'number', placeholder: "ex. 5", validate:'empty', required:true},
          { name: "labelingCode", label: "Labeling Code", placeholder: "ex. 5", validate:'empty', required:true},
          { name: "geometry", label: " Geometry", placeholder: "ex. 5", validate:'empty', required:true}
      ]
    },
    trigger: {
      className: "openAddBuilding"
    }
  }
include ../component/new/modalForm