-
  tableSettings = {
    key: "tableCapex",
    title: "Capex",
    tooltipTitle : "Associated Capex (Capital Extend) that belong to this location",
    collapse : true,
    filterable: true,
    columns: [
      {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
      {label: "Subject", name: "subject", filter: {type: 'text'}},
      {label: "Description", name: "description", filter: {type: 'text'}},
      {label: "Amount", name: "amount", filter: {type: 'text'}},
      {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
      {label: "Party", name: "party", filter: {type: 'text'}},
      {label: "#Attach", name: "attach", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table
-
  modalForm = {
    key: "openAddCapex",
    title: "Create Capex",
    form: {
      url: data.addUrl,
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
          { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
          { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
          { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
          { name: "contractdatestart", label: "Contract Date (Start)", type: "date",placeholder: "ex. 10 v", validate:'empty', required:true},
          { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
          { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
          { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
      ]
    },
    trigger: {
      className: "openAddCapex"
    }
  }
include ../component/new/modalForm  