-
  tableSettings = {
    key: "tablePowerEquipment",
    title: "Power Equipment",
    tooltipTitle : "list of Power Equipment that associated with this location",
    collapse : true,
    filterable: true,
    columns: [
      {label: "name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "label", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Purpose", name: "purpose", filter: {type: 'text'}},
      {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
      {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table