-
  tableSettings = {
    key: "tablePowerSource",
    title: "Power Source",
    tooltipTitle : "list of power source that associated with this location",
    collapse : true,
    filterable: true,
    columns: [
      {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "label", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Purpose", name: "purpose", filter: {type: 'text'}},
      {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
      {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddPowerSource",
    title: "Create PowerSource",
    form: {
      url: "/electricity",
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "powerid", label: "Power Source ID", placeholder: "ex. 001", validate:'empty', required:true},
          { name: "powername", label: "Power Source Name", placeholder: "ex. power", validate:'empty', required:true},
          { name: "powerlabel", label: "Power Source Label", placeholder: "ex. power A", validate:'empty', required:true},
          { name: "output", label: "Output (voltage v)", placeholder: "ex. 9 v", validate:'empty', required:true},
          { name: "output", label: "Output (Current v)", placeholder: "ex. 10 v", validate:'empty', required:true},
          { name: 'output', label: 'Output (Type)', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
          { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
          { name: 'manufacturer', label: 'Manufacturer', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
          { name: "date", label: "Date",type:"date", placeholder: "ex. Gedung A", validate:'empty', required:true},
          { name: 'model', label: 'model', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
          { name: "labelingcodbuildinge", label: "Labeling Code", placeholder: "ex. Abc", validate:'empty', required:true},
          { name: "purpose", label: "Purpose", placeholder: "ex. abc", validate:'empty', required:true},
          { name: "Height", label: "Dimensions (Height)", placeholder: "ex. 100", validate:'empty', required:true},
          { name: "length", label: "Dimensions (length)", placeholder: "ex. 100", validate:'empty', required:true},
          { name: "width", label: "Dimensions (width)", placeholder: "ex. 100", validate:'empty', required:true},
          { name: "Square", label: "Dimensions (Square)", placeholder: "ex. 100 x 100", validate:'empty', required:true},
          { name: "qrcode", label: "Show qr code", placeholder: "ex. qr code", validate:'empty', required:true},
      ]
    },
    trigger: {
      className: "openAddPowerSource"
    }
  }
include ../component/new/modalForm