-
  tableSettings = {
    key: "tableProject",
    title: "Project",
    tooltipTitle: "List of project that served by this device",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Contract Number", name: "contractNumber", link: "view", filter: {type: 'text'}},
      {label: "Subject", name: "subject", filter: {type: 'text'}},
      {label: "Description", name: "description", filter: {type: 'text'}},
      {label: "Amount", name: "amount", filter: {type: 'text'}},
      {label: "Contract Date (Start - End)", name: "contractDate", filter: {type: 'text'}},
      {label: "Party", name: "party", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddProject",
    title: "Create Project",
    form: {
      url: "/location/project",
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "contractNumber", label: "Contract Number", placeholder: "ex. ", validate:'empty', required:true},
          { name: "subject", label: "Subject", placeholder: "ex. ", validate:'empty', required:true},
          { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
          { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
          { name: "amount", label: "Amount", placeholder: "ex. ", validate:'empty', required:true},
          { name: "contractDate", label: "Contract Date (Start - End)", placeholder: "ex. ", validate:'empty', required:true}
      ]
    },
    trigger: {
      className: "openAddProject"
    }
  }
include ../component/new/modalForm