block script
    script.
        $('select.dropdown').dropdown()
        // #################### Create Room
        // Find Building Create Room
        $('#roomlocation').change(function(){
            $('#roombuilding').empty()
            const val = $(this).val()
            requestDataLoading(`/layout2d/building/${val}`,{method : "GET"},function(resp){
                $('#roombuilding').append(`<option value="">- Select Building - </option>`)
                resp.forEach((i) => {
                    $('#roombuilding').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
        })
        // Find Floor Create Room
        $('#roombuilding').change(function(){
            $('#roomfloor').empty()
            const val = $(this).val()
            requestDataLoading(`/layout2d/floor/${val}`,{method : "GET"},function(resp){
                $('#roomfloor').append(`<option value="">- Select Floor - </option>`)
                resp.forEach((i) => {
                    $('#roomfloor').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
        })
        // ########################### Find Room
        $('#findroomlocation').change(function(){
            const val = $(this).val()
            requestDataLoading(`/layout2d/building/${val}`,{method : "GET"},function(resp){
            $('#findroombuilding').empty()
            $('#findroombuilding').append(`<option value="">- Select Building - </option>`)

                resp.forEach((i) => {
                    $('#findroombuilding').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
        })
        // Find Floor Create Room
        $('#findroombuilding').change(function(){
            const val = $(this).val()
            requestDataLoading(`/layout2d/floor/${val}`,{method : "GET"},function(resp){
            $('#findroomfloor').empty()
            $('#findroomfloor').append(`<option value="">- Select Floor - </option>`)
                resp.forEach((i) => {
                    $('#findroomfloor').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
        })
        $('#findroomfloor').change(function(){
            const val = $(this).val()
            requestDataLoading(`/layout2d/getroom/${val}`,{method : "GET"},function(resp){
                $('#findroomroom').empty()
                $('#findroomroom').append(`<option value="">- Select Room - </option>`)
                resp.forEach((i) => {
                    $('#findroomroom').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
        })

        // Event Set Space Assignment
        $('#assignmentstatus').change(function(){
            const val = $(this).val()
            $('#formassignmentdevice').empty()
            const includeData = ['ASSIGNED-COMMERCIAL','ASSIGNED-PRIVATE','RESERVED-COMMITED','RESERVED-UNCOMMITED']
            if(includeData.includes(val)){
                const string = `
                    <label>Object</label>
                    <select id="selectobjectassigned">
                        <option value="">- Select Object -</option>
                        <option value="FULL-RACK">FULL-RACK</option>
                        <option value="SUB-RACK">SUB-RACK</option>
                        <option value="PDU">PDU</option>
                        <option value="AC">AC</option>
                    </select>
                `
                $('#formassignmentdevice').html(string)
            }
        })