block script
    script.
        const requestData = (url, options, callback) => {
            $.ajax({
                type: options.method,
                url: url,
                data: options.params,
                success: function (data) {
                    callback(data)
                },
                error: function (xhr, textStatus, err) {
                    iziToast.destroy()
                    iziToast.error({
                        title: xhr.statusText,
                        message: xhr.responseText,
                        timeout: 4000
                    })
                }
            })
        }
        const requestDataLoading = (url, options, callback) => {
            $.ajax({
                type: options.method,
                url: url,
                data: options.params,
                beforeSend: function (jqXHR, settings) {
                    iziToast.info({
                    message: 'Loading ...',
                    timeout: 0,
                    toastOnce: true
                    })
                },
                success: function (data) {
                    iziToast.destroy()
                    callback(data)
                },
                error: function (xhr, textStatus, err) {
                    iziToast.destroy()
                    iziToast.error({
                        title: xhr.statusText,
                        message: xhr.responseText,
                        timeout: 4000
                    })
                }
            })
        }

        const clearCanvas = () => {
            $('#alphabet').empty()
            $('#layout').empty()
            $('#beforegenerate').show()
        }

        const generateLayout = (options) => {
            $('#beforegenerate').hide()
            const column = $('#roomcolumnhidden').val()
            const rows = $('#roomrowhidden').val()
            const optionsGetSpaceAssignment = {
                method : "GET",
                params : {
                    roomId : $('#roomidhidden').val()
                }
            }
            const stringCheckbox = (columnNumber, rowsNumber) => {
                    return `
                        <td>
                            <center>
                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="C${columnNumber}-R${rowsNumber}">
                            </center>
                        </td>
                    `
            }
            requestDataLoading('/layout2d/getSpaceAssignment',optionsGetSpaceAssignment , function(resp){
                $('#layout').empty()
                let no = 0
                let string = ''
                for (let indexRows = 0; indexRows <= rows; indexRows++) {
                    string += `
                        <tr style="height:50px;">
                    `
                    for (let indexCols = 0; indexCols <= column; indexCols++) {
                        if (indexRows === 0) {
                            if (indexCols === 0) {
                                string += `<td style="width:50px !important;">
                                        <center>
                                            <i class="th icon"></i>
                                        </center>
                                    </td>`
                            } else {
                                string +=
                                    `<td style="background-color:#2c3e50;">
                                        <center>
                                        <h4 style="color:white; margin-top:10px;">Y${indexCols}</h4>
                                        <center>
                                    </td>`
                            }
                        } else {
                            if (indexCols === 0) {
                                string += `<td><center><p>X${no}</p></center></td>`
                            } else {
                                const valColumn = "Y" + indexCols + "-X" + indexRows            
                                if (Object.keys(resp.unused).includes(valColumn)) {
                                    string += `
                                        <td style="background-color:${resp.unused[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else if (Object.keys(resp.reservedUncommited).includes(valColumn)) {
                                     string += `
                                        <td style="background-color:${resp.reservedUncommited[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else if(Object.keys(resp.reservedCommited).includes(valColumn)){
                                     string += `
                                        <td style="background-color:${resp.reservedCommited[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else if(Object.keys(resp.unassigned).includes(valColumn)){
                                    string += `
                                        <td style="background-color:${resp.unassigned[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else if(Object.keys(resp.assignedPrivate).includes(valColumn)){
                                    string += `
                                        <td style="background-color:${resp.assignedPrivate[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else if(Object.keys(resp.assignedCommercial).includes(valColumn)){
                                    string += `
                                        <td style="background-color:${resp.assignedCommercial[valColumn]};">
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                } else {
                                    string += `
                                        <td>
                                            <center>
                                                <input type="checkbox" class="checkbox" style="width:20px; height:20px;" value="Y${indexCols}-X${indexRows}">
                                            </center>
                                        </td>
                                    `
                                }
                            }
                        }
                    }
                    no++
                    string += `    
                        </tr>
                    `
                }
                $('#layout').html(string)
            })
            
        }

        const setColorAssignedFlag = (assignedStatus,assignedObj) => {
            let retData = {
                assignedStatus : assignedStatus,
                assignedObj : assignedObj,
                assignedStatusFlag : ''
            }
            if(assignedStatus === 'ASSIGNED-COMMERCIAL'){
                if(assignedObj === 'FULL-RACK'){
                    retData.assignedStatusFlag = '#00ff00'
                }
                else if(assignedObj === 'SUB-RACK'){
                    retData.assignedStatusFlag = '#0bce00'
                }
                else if(assignedObj === 'PDU'){
                    retData.assignedStatusFlag = '#ffff90'
                }
                else if(assignedObj === 'AC'){
                    retData.assignedStatusFlag = '#00ffff'
                }
            }
            else if(assignedStatus === 'ASSIGNED-PRIVATE'){
                if(assignedObj === 'FULL-RACK'){
                    retData.assignedStatusFlag = '#426832'
                }
                else if(assignedObj === 'SUB-RACK'){
                    retData.assignedStatusFlag = '#004600'
                }
                else if(assignedObj === 'PDU'){
                    retData.assignedStatusFlag = '#ffff90'
                }
                else if(assignedObj === 'AC'){
                    retData.assignedStatusFlag = '#00ffff'
                }
            }
            else if(assignedStatus === 'RESERVED-COMMITED'){
                if(assignedObj === 'FULL-RACK'){
                    retData.assignedStatusFlag = '#ff0000'
                }
                else if(assignedObj === 'SUB-RACK'){
                    retData.assignedStatusFlag = '#ff0000'
                }
                else if(assignedObj === 'PDU'){
                    retData.assignedStatusFlag = '#ff0000'
                }
                else if(assignedObj === 'AC'){
                    retData.assignedStatusFlag = '#ff0000'
                }
            }
            else if(assignedStatus === 'RESERVED-UNCOMMITED'){
                if(assignedObj === 'FULL-RACK'){
                    retData.assignedStatusFlag = '#ff7c7c'
                }
                else if(assignedObj === 'SUB-RACK'){
                    retData.assignedStatusFlag = '#ff7c7c'
                }
                else if(assignedObj === 'PDU'){
                    retData.assignedStatusFlag = '#ff7c7c'
                }
                else if(assignedObj === 'AC'){
                    retData.assignedStatusFlag = '#ff7c7c'
                }
            }
            else if(assignedStatus === 'UNUSED'){
                retData.assignedStatusFlag = '#d9d9d9'
            }
             else if(assignedStatus === 'UNASSIGNED'){
                retData.assignedStatusFlag = '#fffff'
            }
            return retData
        }