extends ../layout

block script
  script.
    function openDelete(elmnt, data){
      if (confirm("Are you sure want to release "+data.cablename+" ?") == true) {
        var cable = btoa(data.cablename);
        var core = data.corename;
        sendPut({
          url: "!{'/cablesheath/"+cable+"/"+core+"'}",
        });
      }
    }

    function openUpdate(elmnt, data){
      document.getElementById("cablename").value = data.cablename;
      document.getElementById("portId").value = data.corename;
      document.getElementById("status").value = data.status;
      $("#editStatusModal").modal("show");
    }

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Cable Sheath', url: '/cablesheath'})
  

block content
  div(style="float: left")
    form.ui.form(id="renderForm", action="/render/CableSheath/" + data.mapName, method="GET" target="_blank")
      button.ui.tiny.left.labeled.blue.icon.button(id="renderBtn" data-tooltip="render to Map") <i class="eye icon"></i> Map
  
  -
    const actionTab  = {
      key: "editCableSheathInfo",
      delete: {
        url: links.delete.url,
        info: "Delete this Cable Sheath",
        label: "Delete this Cable Sheath",
      }
    }
  div(style="float: right")
    button.ui.tiny.left.labeled.red.icon.button(id=actionTab.key+"DeleteButton" data-tooltip=actionTab.delete.label) <i class="remove icon"></i> Delete
  div(style="clear: both; height: 50px")

  script.
    $(document).ready(function () {
      $('#!{actionTab.key}DeleteButton').on("click", function (event) {
        if (confirm("Are you sure want to Delete !{data.name} and Core Completely, this action can't be Undo?") == true) {
          sendDelete({
            url: "!{actionTab.delete.url}",
          });
        }
      });
    });

  -
    let detailView = {
      key: "cablesheathInfo",
      title: "Cable Sheath Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "key", label: "Key", type: 'readonly', value: data.key},
        {name: "label", label: "Label", type: 'text', value: data.label},
        {name: "cast_type", label: "Type", type: 'select',value: data.type, placeholder: "ex. DR KD-G652D " , settings: {remote: {url: '/info/type'}, resultMapping: {label: "name",value:"name"}}},
        {name: "start_locn", label: "Start Locn", type: 'search', value: data.start_locn, 
        settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },},
        {name: "end_locn", label: "End Locn", type: 'search', value: data.end_locn, 
        settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },},
        {name: "notes", label: "Notes", type: 'text', value: data.notes},
        {name: "slack", label: "Slack (meter)", type: 'text', value: data.slack},
        {name: "division", label: "Division", type: 'text', value: data.division},
        {name: "geometry",label : "Geometry",type:'text', value:data.geometry ? data.geometry : null},
        {name: "measuredlength", label: "Measured Length (meter)", type: 'text', value: data.measuredlength},
        {name: "calculatedlength", label: "Calculated Length (meter)", type: 'text', value: data.calculatedlength},
        {name: "estimatedloss", label: "Estimated Loss (dB)", type: 'text', value: data.estimatedloss},
        {name: "status", label: "Status", value: data.status, type: "select", settings: {remote: {url: '/info/statusPhysicalDevice'}, resultMapping: {label: "name",value:"name"}}},
        {name: "networkRole", label: "Network Role", type: 'select', value: data.networkRole,placeholder: "ex. AN", settings: {remote: {url: '/info/cableNetworkRole'}, resultMapping: {label: "name", value: "name"}}},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
        {name: "createdAt", label: "Created At", type: 'date', value: data.createdAt},
        {name: "modifiedBy", label: "Modified By", type: 'readonly', value: data.modifiedBy},
        {name: "modifiedAt", label: "Modified At", type: 'readonly', value: data.modifiedAt},
        {name: "ownedBy", label: "Owned By", type: 'readonly', value: data.ownedBy},
        {name: "managedBy", label: "Managed By", type: 'readonly', value: data.managedBy},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "assetInfo",
      title: "Asset Information",
      fields: [
        {name: "projectId", label: "Project Id", type: 'readonly', value: data.projectId},
        {name: "contractId", label: "Contract Id", type: 'readonly', value: data.contractId},
      ],
      actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "cableSheatProductType",
      title: "Cable Sheath Product Type",
      hiddenFields: [],
      fields: [
        {name: "cspt_id", label: "Name", type: 'readonly',value: (data.cableSheatProductType[0] ? data.cableSheatProductType[0].name : ''), placeholder: "ex. C1.12PIRELLI", settings: {remote: {url: '/info/productName'}, resultMapping: {label: "name", value: "key"}}},
        {label: "Key", name: "key", type: 'readonly', value: (data.cableSheatProductType[0] ? data.cableSheatProductType[0].key : '')},
        {label: "Cores", name: "cores", type: 'readonly', value: (data.cableSheatProductType[0] ? data.cableSheatProductType[0].cores : '')},
        {label: "Tubes", name: "tubes", type: 'readonly', value: (data.cableSheatProductType[0] ? data.cableSheatProductType[0].tubes : '')},
        {label: "Description", name: "description", type: 'readonly', value: (data.cableSheatProductType[0] ? data.cableSheatProductType[0].description : '')},
      ],actions: {
        edit: {
          url: links.edit.url,
        }
      }
    }
  include ../component/new/fieldList
  -
    var tableSettings = {
      key: "deviceConected",
      title: "Device Connected",
      filterable: true,
      columns: [
        {label: "Location A", name: "locationA", filter: { type: 'text' }},
        {label: "Device A", name: "deviceA", filter: { type: 'text' }},
        {label: "Module A", name: "moduleA", filter: { type: 'text' }},
        {label: "Module Z", name: "moduleZ", filter: { type: 'text' }},
        {label: "Device Z", name: "deviceZ", filter: { type: 'text' }},
        {label: "Location Z", name: "locationZ", filter: { type: 'text' }}
      ],
      data: data.deviceConected
    }
  include ../component/new/table
  -
    var tableSettings = {
      key: "cablecore",
      title: "Cable Core",
      filterable: true,
      columns: [
        {label: "Cable Name" , name : "cablename"},
        {label: "Core Name", name: "corename", filter: { type: 'text' }},
        {label: "Status", name: "status", filter: { type: 'text' },type:'status'},
        {label: "Interface UP / To", name: "interfaceup", filter: { type: 'text' }},
        {label: "Interface UP / From", name: "interfacedown", filter: { type: 'text' }},
      ],
      data: data.cableCore,
      buttons: {
        add: {label: "Add Cable Core Connection Assigment", className: "openAddCableCoreModal"},
        update: {label: "Edit Status Core", link: "editStatus", callback: "openUpdate"},
        delete: {label: "Remove Cable Core Relation", callback : "openDelete"}
      }
    }
  include ../component/new/table
  
  -
    var modalForm = {
      key: "editStatus",
      title: "Edit Status Core",
      form: {
        url: "/cablesheath/status/",
        method: "POST",
        fields: [
            { id: "cablename", name: "cablename", type: "hidden"},
            { id: "portId", name: "portId", type: "hidden"},
            { id: "status", name: "status", label: "Status", type: "select", settings: {options: [{label: "INSERVICE", value: "INSERVICE"},{label: "OUTSERVICE", value: "OUTSERVICE"},{label: "BROKEN", value: "BROKEN"},{label: "SPARE", value: "SPARE"},{label: "PLANNED", value: "PLANNED"}]}},
        ],
        callback: {
          onSuccess: () => {
            window.location.reload();
          }
        },
      },
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addCableCore",
      title: "Create Cable Core",
      trigger: {
        className: "openAddCableCoreModal"
      },
      form: {
        url: "/cablesheath/coreConnection",
        fieldcable: [
          {name: "cablename", label: "CableSheath Name", type: 'hidden', placeholder: "ex.S0274-S0314-01.1", value: data.name},
          {name: "cableid", label: "CableSheath ID", type: 'hidden', value: data.id},
          {name: "numbercore", label: "Number Core", type: 'text', placeholder: "ex. 1", 
          rules:[{
              type:'regExp', value:'^\\d+$'
            },{
              type:'empty', prompt:'{name} must have a value'
              }], required:true
          }
        ],
        fields: [
          {name: "startcore", label: "Start Core", type: 'select', placeholder: "ex. 1", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
                settings: {
                  remote: {
                    url: '/info/coreavailable',
                    method: "GET", 
                    extraData: { 
                      "cablesheathname": data.name
                    }
                    }, resultMapping: {label: "core", value: 'core'}}
          }
        ],
        buttonLabel: "Create",
      },
      search: {
        form: {
          url: "/info/moduleport",
          urlinterfaceup: "/info/InterfacefromModuleup",
          urlinterfacedown: "/info/InterfacefromModuledown",
          fields:[
            {name: "physicaldeviceaname", label: "Physical Device Name (Downstream)", type: 'search', 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, placeholder: "ex. ODP-LBG-FBV/059"}
          ],
          fieldsb:[
            {name: "physicaldevicebname", label: "Physical Device Name (Upstream)", type: 'search', 
            rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, placeholder: "ex. ODP-LBG-FBV/059"}
          ],
        }
      },
      data : data.device,
      returned: {
        dataIndex: null,
        names: ["name"],
      }
    }
  include ../component/new/modalFormCoreConnection
  
  script.
    $("#renderBtn").on("click", function (event) {
      document.getElementById('renderForm').submit();
    });