extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Location', url: '/Location'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    function deletePhoto(locid,uid){
      alert('DELETED !')
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteObject',
      delete: {
        url: data.location.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editObject',
      title: 'Location Information',
      fields: [
        {name: 'type', label: 'Type', type: 'text', value: data.location.type},
        {name: 'name', label: 'Name', type: 'text', value: data.location.name},
        {name: 'uid', label: 'UID', type: 'text', value: data.location.uid},
        {name: 'description', label: 'Description', type: 'text', value: data.location.description},
        {name: 'status', label: 'Status', type: 'select', value: data.location.status, action: "", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.location.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
    
  include ../component/new/fieldList

  -
    let tabSettings = {
      tab : [
        {
          name : "=TAB=",
          key : "tab1",
          pathCollection : [],
          active : true
        },
        {
          name : "Map",
          key : "tab2",
          pathCollection :[
            {
              path : "tab/map",
              data : {}
            }
          ],
          active : false
        },
        {
          name : "Space",
          key : "tab3",
          pathCollection : [
            {
              path : "tab/building",
              data : {
                datatable : data.building,
                referenceId : data.location._id,
                addUrl : "/building",
                buttonDatatable : {
                  add: {label: "Add Building", className: "openAddBuilding"},
                  delete : {label: "Delete Building", link: "delete", callBack: "deleteBuilding"}
                }
              }
            },
            {
              path : "tab/floor",
              data : {
                datatable : data.floor,
                referenceId : "",
                addUrl : "/floor",
                buttonDatatable : {
                  add: {label: "Add Floor", className: "openAddFloor"},
                  delete : {label: "Delete Floor", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/room",
              data : {
                datatable : data.room,
                referenceId : "",
                addUrl : "/room",
                buttonDatatable : {
                  add: {label: "Add Room", className: "openAddRoom"},
                  delete : {label: "Delete Room", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/rack",
              data : {
                datatable : data.rack,
                referenceId : "",
                addUrl : "/rack",
                buttonDatatable : {
                  add: {label: "Add Rack", className: "openAddRack"},
                  delete : {label: "Delete Rack", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/space",
              data : {
                datatable : data.space,
                referenceId : "",
                addUrl : "/space",
                buttonDatatable : {
                  add: {label: "Add Space", className: "openAddSpace"},
                  delete: {label: "Remove Spaces from this Room", link: "delete", callback: "deleteCallback"}
                }
              }
            }
          ],
          active : false
        },
        {
          name : "Electricity",
          key : "tab4",
          pathCollection : [
            {
              path : "tab/powerSource",
              data : {
                datatable : data.powerSource,
                referenceId : "",
                addUrl : "/powerSource",
                buttonDatatable : {
                  add: {label: "Add PowerSource", className: "openAddPowerSource"},
                  delete : {label: "Delete PowerSource", link: "delete", callBack: "deletePowerSource"}
                }
              }
            },
            {
              path : "tab/powerEquipment",
              data : {
                datatable : data.powerEquipment,
                referenceId : "",
                addUrl : "/powerEquipment",
                buttonDatatable : {
                  add: {label: "Add PowerEquipment", className: "openAddPowerEquipment"},
                  delete : {label: "Delete PowerEquipment", link: "delete", callBack: "deletePowerSource"}
                }
              }
            },
            {
              path : "tab/powerDistribution",
              data : {
                datatable : data.powerDistribution,
                referenceId : "",
                addUrl : "/powerDistribution",
                buttonDatatable : {
                  add: {label: "Add PowerDistribution", className: "openAddPowerDistribution"},
                  delete : {label: "Delete PowerDistribution", link: "delete", callBack: "deletePowerDistribution"}
                }             
              }
            },
            {
              path : "tab/battery",
              data : {
                datatable : data.battery,
                referenceId : "",
                addUrl : "/battery",
                buttonDatatable : {
                  add: {label: "Add Battery", className: "openAddBattery"},
                  delete : {label: "Delete Battery", link: "delete", callBack: "deleteBattery"}
                }             
              }
            }
          ],
          active : false
        },
        {
          name : "Connectivity",
          key: "tab5",
          pathCollection: [
            {
              path : "tab/networkElement",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {}
              }
            },
            {
              path : "tab/frameContainer",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add DistributionFrame ", className: "openAddDistributionFrame"},
                  delete : {label: "Delete DistributionFrame ", link: "delete", callBack: "deleteCallback"}
                }
              }            
            },
            {
              path : "tab/cable",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Cable", className: "openAddCable"},
                  delete : {label: "Delete Cable ", link: "delete", callBack: "deleteCallback"}
                }
              }   
            }
          ]
        },
        {
          name : "Service",
          key: "tab6",
          pathCollection : [
            {
              path : "tab/customer",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Customer", className: "openAddCustomer"},
                  delete : {label: "Delete Customer", link: "delete", callBack: "deleteCustomer"}
                }
              }
            },
            {
              path : "tab/service",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add    : {label: "Add Service", className: "openAddService"},
                  delete : {label: "Delete Service", link: "delete", callBack: "deleteService"}
                }
              }
            },
            {
              path : "tab/reservation",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Reservation", className: "openAddReservation"},
                  delete : {label: "Delete Reservation", link: "delete", callBack: "deleteReservation"}
                }
              }
            }            
          ],
          active : false
        },
        {
          name : "Attachment",
          key : "tab7",
          pathCollection:[
            {
              path : "tab/photo",
              data : []
            },
            {
              path : "tab/video",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Video", className: "openAddVideo"},
                  delete : {label: "Delete Video", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/document",
              data :{
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Document", className: "openAddDocument"},
                  delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/360view",
              data :{
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add View", className: "openAddView"},
                  delete : {label: "Delete View", link: "delete", callBack: "deleteCallback"}
                }
              }
            }
          ]
        },
        {
          name : "Asset",
          key : "tab8",
          pathCollection:[
            {
              path : "tab/capex",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Capex", className: "openAddCapex"},
                  delete : {label: "Delete Capex", link: "delete", callBack: "deleteCapex"}
                }
              }
            },
            {
              path : "tab/opex",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Opex", className: "openAddOpex"},
                  delete : {label: "Delete Opex", link: "delete", callBack: "deleteOpex"}
                }
              }
            }
          ]
        },
        {
          name : "Contact",
          key : "tab9",
          pathCollection:[
            {
              path : "tab/responsible",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Responsible", className: "openAddResponsible"},
                  delete : {label: "Delete Responsible", link: "delete", callBack: "deleteResponsible"}
                }
              }
            },
            {
              path : "tab/accountable",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Accountable", className: "openAddAccountable"},
                  delete : {label: "Delete Accountable", link: "delete", callBack: "deleteAccountable"}
                }
              }
            },
            {
              path : "tab/controller",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Controller", className: "openAddController"},
                  delete : {label: "Delete Controller", link: "delete", callBack: "deleteController"}
                }
              }
            },
            {
              path : "tab/informer",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Informer", className: "openAddInformer"},
                  delete : {label: "Delete Informer", link: "delete", callBack: "deleteInformer"}
                }
              }
            }
          ]
        },
        {
          name : "Event",
          key : "tab10",
          pathCollection:[
            {
              path : "tab/maintenance",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Maintenance", className: "openAddMaintenance"},
                  delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteMaintenance"}
                }
              }
            },
            {
              path : "tab/project",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Project", className: "openAddProject"},
                  delete : {label: "Delete Project", link: "delete", callBack: "deleteProject"}
                }
              }
            }
          ]
        }
      ]
    } 
  include ../component/new/tab

