mixin breadcrumb(active, ...items)
  div(style='margin: 55px 20px 0')
    .ui.breadcrumb
      each item in items
        a.section(href=item.url)= item.text
        span.divider /
      .active.section= active
    .ui.divider

mixin twoPaneLayout(leftSize, rightSize)
  .ui.grid(style='margin: 20px')
    div(class=leftSize + ' wide column')
      block left_column
    div(class=rightSize + ' wide column')
      block right_column

mixin multiPaneLayout
  .ui.equal.width.grid(style='margin: 20px')
    block

mixin onePaneLayout()
  .ui.grid(style='margin: 20px')
    .sixteen.wide.column
      block
  


include header
body.main(style='background: #f3f3f3')
  style.
    ._top_message_box {
      box-shadow: 0 0 0 0 !important;
      padding: 0 !important;
      background-color: transparent !important;
      min-height: 0 !important;
    }
    .topBarLink {
      background: #fff;
      min-width: 400px;
    }
    .topBarLink a {
      line-height: 0.9 !important;
    }
    .version {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
    .menuContainer a.item:hover {
      border-right: 3px solid #008080;
    }

    .topBar {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      height: 30px !important;
    }

    .topBar .mainMenu {
      order: 1;
      flex: 0 0 0;
    }

    .topBar .title {
      order: 2;
      width: 440px;
      flex: 0 0 auto;
    }

    .topBar .title .content {
      background: white;  
    }

    .topBar .message {
      order: 3;
      flex: 1 0 auto;
      background: pink;
    }

    .topBar .right.menu {
      order: 4;
      flex: 0 0 auto;
    }

    .userButton {
      box-shadow: none !important;
      margin: 0 !important;
      padding-top: 0.9em !important;
      text-align: right !important;
    }

    .homeButton {
      box-shadow: none !important;
      margin: 0 !important;
      padding-top: 0.9em !important;
      text-align: left !important;
    }

    .userButton .hidden {
      padding-right: 20px !important;
    }

    .homeButton .hidden {
      margin-left: 20px !important;
    }

    .appEnv {
      width: auto !important;
      padding: 5px !important;
      border-radius: inherit !important;
      left: 49% !important;
      z-index: 1000;
      text-transform: uppercase !important;
    }

    .widthAuto {
      width: auto !important;
    }
  script.
    $(document)
    .ready(function () {
      $('.ui.accordion').accordion();
      $('.ui.checkbox').checkbox();

      $('.ui.dropdown').dropdown();
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });

      $('.ui.mainMenu').popup({
        popup: '.menuContainer',
        inline: false,
        hoverable: true,
        transition: 'vertical flip',
        setFluidWidth: true,
        offset: 7,
        delay: {
          show: 50,
          hide: 200
        }
      });

      $('.message .close').on('click', function () {
      $(this)
        .closest('.message')
        .transition('fade');
      });
      $('.ui.accordion')
      .accordion();
      $('.homeButton').on('click', function() {
        location.href='/'
      })
      $('.userButton').on('click', function() {
        location.href='/logout'
      })
    });

  if appEnv
    .ui.top.attached.mini.red.label.appEnv= appEnv
  
  .ui.menu.top.borderless.fixed.topBar
    .ui.dropdown.item.icon.mainMenu
      i.sidebar.icon
    .ui.fade.reveal.title
      .ui.animated.fade.basic.button.homeButton
        .visible.content Internet Data Center
        .hidden.content Home
    .item.message
      .ui.negative.message.tiny.hidden._top_message_box
    .right.menu
        div.ui.dropdown.item
          span #{user} &nbsp;&nbsp;
          //- img.ui.avatar.bordered.image(src=`/user/${user}/photo` onerror="if (this.src != '/images/avatar/steve.jpg') this.src = '/images/avatar/steve.jpg';")
          img.ui.avatar.bordered.image(src=`/images/avatar/steve.jpg`)
          div.menu
            a.item(href=`/profile/${user}`) My Info
            a.item(href="/logout") Logout
        
  .ui.flowing.popup.menuContainer.mini
    .ui.grid
      //.row.four.column.wide.divided
      .ui.four.column.divided.grid.widthAuto
        .column.widthAuto
          h4.ui.header
            i.icon.building
            | Space
          .ui.link.list
            a.item(href='/location') Site | Location
            a.item(href='/building') Building
            a.item(href='/floor') Floor
            a.item(href='/room') Room
            a.item(href='/rack') Rack
        .column.widthAuto
          h4.ui.header
            i.icon.server
            | Connectivity
          .ui.link.list
            a.item(href='/device') Network Element
            a.item(href='/physicaldevice') Distribution Frame
            a.item(href='/cablesheath') Cable
        .column.widthAuto
          h4.ui.header
            i.icon.plug
            | Electricity
          .ui.link.list
            a.item(href='/powerSource') Power Source
            a.item(href='/powerEquipment') Power Equipment
            a.item(href='/battery') Battery
            a.item(href='/powerDistribution') Power Distribution
            a.item(href='/cablesheath') Cable
        .column.widthAuto
          h4.ui.header
            i.icon.shield 
            | Protection
          .ui.link.list
            a.item(href='/cctv') CCTV
            a.item(href='/fireAlarm') Fire Alarm
            a.item(href='/fireHydrant') Fire Hydrant
            a.item(href='/fireExtinguiser') Fire Extinguiser
        .column.widthAuto
          h4.ui.header
            i.icon.user
            | Consumer
          .ui.link.list
            a.item(href='/service') Service
            a.item(href='/customer') Customer
            a.item(href='/reservation') Reservation
        .column.widthAuto
          h4.ui.header
            i.icon.map
            | Visualization
          .ui.link.list
            a.item(href='') Graph
            a.item(href='') Map
        .column.widthAuto
          h4.ui.header
            i.icon.file
            | Report
          .ui.link.list
            a.item(href='') Rack Occupancy
            a.item(href='') Power Utilization
            a.item(href='') Rack Idle Cappacity
        //- .column
        //-   h4.ui.header
        //-     i.icon.map
        //-     | Supporting Facility
        //-   .ui.link.list
        //-     a.item(href='/device') Air Device
        //-     a.item(href='/building') Passive Device
        //-     a.item(href='/cable') Cable
    .ui.mini.teal.label.version v#{version}
  block wide_column_content
  block breadcrumb
  block large_container
  if !noContent
    .ui.container
      .ui.padded.grid
        if msg
          .row.centered
            .column.eight.wide
              .ui.negative.message.floating.mini
                i.close.icon
                .header
                  i.warning.sign.icon
                  | #{msg.title}
                p
                  | That offer has expired
        .row.centered
          .column
            block content
            #bottomSpacer.ui.basic.segment
              .ui.basic.segment
                .ui.basic.segment


  #loader.ui.active.dimmer
    .ui.text.loader Loading

  #notification
  block script

  block footer
    include ./footer
