extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Device', url: '/device'}, {text: data.device.name, url: data.device.links.view.url})

block content
  -
    const actionTab  = {
      key: "editModuleInfo",
      delete: {
        url: data.links.delete.url,
        label: "Delete this module",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "moduleInfo",
      title: "Module Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "description", label: "Description", type: 'text', value: data.description},
        {name: "type", label: "Type", type: 'text', value: data.type},
        {name: "model", label: "Model", type: 'text', value: data.model},
        {name: "serialNumber", label: "Serial Number", type: 'text', value: data.serialNumber},
        {name: "hostname", label: "Hostname", type: 'text', value: data.hostname},
        {name: "ipAddress", label: "IP Address", type: 'text', value: data.ipAddress},
        {name: "nat", label: "NAT", type: 'text', value: data.nat},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "IN SERVICE", value: "INSERVICE"}, {label: "OUT OF SERVICE", value: "OUTOFSERVICE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "createdAt", label: "Created At", type: 'readonly', value: data.createdAt},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "deviceInfo",
      title: "Device Information",
      fields: [
        {label: "Name", type: 'readonly', value: data.device ? data.device.name : "", link: data.device ? data.device.links.view.url : ""},
        {label: "Model", type: 'readonly', value: data.device.manufacturerRelationship ? data.device.manufacturerRelationship.model : ""},
        {label: "Manufacturer", type: 'readonly', value: data.device.manufacturer ? data.device.manufacturer.name : ""},
        {label: "IP Address", type: 'readonly', value: data.device ? data.device.ipAddress : ""},
      ],
    }
  include ../component/new/fieldList

  if (data.name === 'NA' && data.device.manufacturer.name === 'HUAWEI') || data.name !== 'NA'
    - let columns = []
    if data.device.manufacturer.name === 'HUAWEI'
      - 
        columns = [
          { label: "ID", name: "name", link: 'view', filter: {type: 'text'}},
          { label: "Name", name: "profileName", filter: {type: 'text'}, clearable: true, clearCallback: 'clearContent'},
          { label: "SSID", name: "ssid", link: 'ssidView', filter: {type: 'text'}},
          { label: "Created By", name: "createdBy", filter: {type: 'text'}},
          { label: "Updated By", name: "updatedBy", filter: {type: 'text'}},
        ]
    else
      - 
        columns = [
          { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
          { label: "Profile Name", name: "profileName", filter: {type: 'text'}, clearable: true, clearCallback: 'clearContent'},
          { label: "Interface Name", name: "interfaceName", filter: {type: 'text'}},
          { label: "SSID", name: "ssid", link: 'ssidView', filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}, type: 'status'},
          { label: "Created By", name: "createdBy", filter: {type: 'text'}},
          { label: "Updated By", name: "updatedBy", filter: {type: 'text'}},
        ]
    -
      tableSettings = {
        key: "wlan",
        title: data.device.manufacturer.name === 'HUAWEI' ? 'ESS Information' : "WLAN Information",
        columns: columns,
        filterable: true,
        data: {
          url: data.links.wlanData.url,
          method: data.links.wlanData.method,
          cached: true,
        },
        buttons: {
          add: {label: data.device.manufacturer.name === 'HUAWEI'? 'Add new ESS' : "Add new WLAN to this module", className: "openAddWlanModal"}
        }
      }
    if data.device.manufacturer.name !== 'HUAWEI'
      -
        tableSettings.buttons.adhocSync = {label: "Sync WLAN with network", link: data.links.adhocSync}
        tableSettings.buttons.tableCustom = [
          {name: 'clearProfileName', tag: 'Reset WLAN', color: 'pink', icon: 'cut', className: 'disabled', label: "Select WLAN rows to reset Profile Name", callback: 'executeClear'},
          {name: 'clearAllProfileName', tag: 'Reset All WLAN', color: 'red', icon: 'remove', label: "Reset all WLAN Profile Names", callback: 'executeClearAll'}
        ]
    include ../component/new/table
    script.
      let cellSelected = []
      function clearContent(data, element) {
        let index = $.inArray(data.id, cellSelected)
        if (index === -1) {
          cellSelected.push(data.id)
          element.css('background-color', '#ff5a45')
          element.css('color', '#ffffff')
          $('#wlanclearProfileNameTableCustomButton').removeClass('disabled')
        } else {
          cellSelected.splice(index, 1)
          element.css('background-color', '')
          element.css('color', '')
          if (cellSelected.length < 1) $('#wlanclearProfileNameTableCustomButton').addClass('disabled')
        }
      }
      function executeClear(button) {
        if (cellSelected.length > 0) {
          if (confirm('This will reset selected WLAN. Are you sure?') == true) {
            sendPut({
              url: '#{data.links.clearWLANProfileName.url}',
              data: {wlanIds: cellSelected}
            })
          }
        }
      }
      function executeClearAll(button) {
        if (confirm('This will reset ALL WLANs. Are you sure?') == true) {
          sendPut({
            url: '#{data.links.clearAllWLANProfileName.url}'
          })
        }
      }

  -
    tableSettings = {
      key: "vlan",
      title: "VLAN Information",
      columns: [
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
        { label: "Number", name: "number", filter: {type: 'text'}},
        { label: "Mode", name: "mode", filter: {type: 'text'}},
        data.name === 'NA' ?
        { label: "Interface VLAN", name: "intervlanName", filter: {type: 'text'}} :
        { label: "Network Id", name: "networkId", filter: {type: 'text'}},
        data.name === 'NA' ?
        { label: "Purpose", name: "purpose", filter: {type: 'text'}} :
        { label: "Netmask", name: "netmask", filter: {type: 'text'}},
        { label: "Status", name: "status", filter: {type: 'text'}},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}},
        { label: "Created At", name: "createdAt", filter: {type: 'text'}}
      ],
      filterable: true,
      data: {
        url: data.links.vlanData.url,
        method: data.links.vlanData.method,
        cached: true,
      },
      buttons: {
        add: {label: "Add new VLAN to this module", className: "openAddVlanModal"},
      }
    }
  include ../component/new/table
  if data.device.manufacturer.name === 'HUAWEI'
    -
      var modalForm = {
        key: "addWlan",
        title: 'Add new ESS',
        form: {
          url: data.links.addWlan.url,
          fields: [
            { label: "ID", name: "name", type: 'select', placeholder:'Please select ESS ID', validate: 'empty', required:true,
              settings: {
                remote: {
                  url: `/device/${data.device.id}/module/${data.id}/nonExistentWLANData`,
                },
                resultMapping: {label: "name", value: "id"}
              }
            },
            { label: 'ESS Name', name: "profileName", placeholder: "ex. @wifi.id", required:false},
            { label: "SSID", name: "ssid", type: 'search', placeholder: "Please type SSID to choose (min. 3 chars)", validate: 'empty', required:true,
              settings: {
                remote: {
                  url: `/ssid/data`,
                  query: "columns[0][search][value]",
                  extraData: { "columns[0][name]": 'name', "length": 100, "order[0][column]": 0, "order[0][dir]": 'asc'}
                },
                minChar: 3,
                resultMapping: {dataIndex: 'data', label: "name", value: "id"}
              }
            }
          ]
        },
        trigger: {
          className: "openAddWlanModal"
        }
      }
  else
    -
      var modalForm = {
        key: "addWlan",
        title: "Add new WLAN",
        form: {
          url: data.links.addWlan.url,
          fields: [
            { label: "Name", name: "name", type: 'select', placeholder: "Please select WLAN name", validate: 'empty', required:true,
              settings: {
                remote: {
                  url: `/device/${data.device.id}/module/${data.id}/nonExistentWLANData`,
                },
                resultMapping: {label: "name", value: "id"}
              }
            },
            { label: "Profile Name", name: "profileName", placeholder: "ex. @wifi.id", validate: 'minLength[4]', required:true},
            { label: "Interface Name", name: "oInterfaceName", placeholder: "WLAN interface name", required:true, validate:'empty'},
            { label: "SSID", name: "ssid", type: 'search', placeholder: "Please type SSID to choose (min. 3 chars)", validate: 'empty', required:true,
              settings: {
                remote: {
                  url: `/ssid/data`,
                  query: "columns[0][search][value]",
                  extraData: { "columns[0][name]": 'name', "length": 100, "order[0][column]": 0, "order[0][dir]": 'asc'}
                },
                minChar: 3,
                resultMapping: {dataIndex: 'data', label: "name", value: "id"}
              }
            },
            { label: "Status", name: "status", type: "select", placeholder: "ex. ACTIVE", value: 'ACTIVE', settings: {options: [{ label: "ACTIVE", value: "ACTIVE" }, { label: "INACTIVE", value: "INACTIVE" }]}},
            { label: "PMIPv6 Mobility", name: "pmIPv6Mobility", filter: {type: 'text'}, value: 'none'}
          ]
        },
        trigger: {
          className: "openAddWlanModal"
        }
      }
  include ../component/new/modalForm

  // new VLAN form
  include ../vlan/newForm
  if data.name === 'NA'
    +addVLAN('interface', data.links.addInterfaceVlan.url)
  else
    +addVLAN(null, data.links.addVlan.url)

  each item in data.others
    div
      pre= JSON.stringify(item, null, 2)
