include ../component/new/input

-
  var namespace = 'buCe'
  var fields = [
    { name: namespace + 'Type', label: 'Type', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
    { name: namespace + "Name", label: "Name", placeholder: "ex. Gedung A", validate:'empty', required:true},
    { name: namespace + "UID", label: "Building ID", placeholder: "ex. TDC-01", validate:'empty', required:false},
    { name: namespace + "Height", label: "Height (m)", placeholder: "ex. 30", validate:'empty', required:true},
    { name: namespace + "Width", label: "Width (m)", placeholder: "ex. 20", validate:'empty', required:true},
    { name: namespace + "Length", label: "Length (m)", placeholder: "ex. 40", validate:'empty', required:true},
    { name: namespace + "Floor", label: "Floor", placeholder: "ex. 5", validate:'empty', required:true},
    { name: namespace + "builtDate", label: "Built Date", placeholder: "ex. 5", validate:'empty', required:true}
  ]
each field in fields
  +inputComponent(namespace, field)
  if(field.type === 'select')
    +selectScriptJS(namespace, field)
  
br
button.ui.mini.blue.right.floated.button(id='btn' + namespace)
  i.check.icon
  | Submit

script.
  $('#btn#{namespace}').click(function(e) {
    var field = '#{ JSON.stringify(fields) }'
    mapFunc.validateMapFields( field, function(cb){
      if(cb){
        var data = {}
        data.wkt = $('#createObjectWKT').val()
        var uid = $('input[name=#{namespace}UID]').val()
        data.properties = {
          type: $('input[name=#{namespace}Type]').val(),
          name: $('input[name=#{namespace}Name]').val(),
          uid: (uid !== '') ? uid : mapFunc.generateUUID(),
          width: $('input[name=#{namespace}Width]').val(),
          height: $('input[name=#{namespace}Height]').val(),
          length: $('input[name=#{namespace}Length]').val(),
          builtDate: $('input[name=#{namespace}builtDate]').val(),
          floor: $('input[name=#{namespace}Floor]').val(),
          status: 'ACTIVE',
        }
        mapFunc.requestData('/handler/building',{method: 'POST', data: data},
        function(resp){
          $('#createForm').modal('hide')
          iziToast.success({
            title: resp.code,
            message: resp.message,
            timeout: 3000
          })
        })
      }
    })
  })