.field
  label Building Id
  input#bldId.form-control.obj-loc(type='text' placeholder='ex. TDC-11' value=`${geoJSON.properties.name}`)
.field
  label Name
  input#bldName.form-control.obj-loc(type='text' placeholder='ex. IDC Lembong' value=`STO`)
.field
  label Address
  input#bldAddress.form-control.obj-loc(type='text' placeholder='ex. Jl. Lembong No.15, Bandung' value=`${geoJSON.properties.description}`)

button#submitObject.ui.mini.blue.right.floated.button
  i.check.icon
  | Submit

script.
  $( "#submitObject" ).click(function(e) {
    $('#editForm').modal('hide')
    let geoJSON = JSON.parse($("#editObjectGeoJSON").val())
    geoJSON.properties.siteId = $("#bldId").val()
    geoJSON.properties.name = $("#bldName").val()
    geoJSON.properties.address = $("#bldAddress").val()

    mapFunc.requestData('/handler/building',{method:"PUT", data : geoJSON},
    function(resp){
      iziToast.success({
        title: resp.code,
        message: resp.message,
        timeout: 3000
      })
    })
  });
