extends ../layout

block breadcrumb
  +breadcrumb(
    data.name,
    {text: 'Home', url: '/'},
    {text: 'Device', url: '/device'},
    {text: data.device.name, url: data.device.links.view.url},
    {text: data.module.name, url: data.module.links.view.url}
  )

block content
  -
    const actionTab  = {
      key: "editPortInfo",
      delete: {
        url: data.links.delete.url,
        label: "Delete this port",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "portInfo",
      title: "Interface Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "networkName", label: "Network Name", type: 'text', value: data.networkName},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {name: "purpose", label: "Purpose", type: 'select', value: data.purpose, settings: {multiple: true, options: [{label: "TRUNK", value: "TRUNK"}, {label: "SUBSCRIBER", value: "SUBSCRIBER"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "createdAt", label: "Created At", type: 'readonly', value: new Date(data.createdAt).toUTCString()},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "subInterface",
      title: "SubInterface Information",
      columns: [
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
        { label: "Key", name: "key", filter: {type: 'text'}},
        { label: "Network Name", name: "networkName", filter: {type: 'text'}},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}, value: data.createdBy},
        { label: "Created At", name: "createdAt", filter: {type: 'date'}, value: new Date(data.createdAt).toUTCString()},
      ],
      filterable: true,
      data: {
        url: data.links.subInterfaceData.url,
        method: data.links.subInterfaceData.method,
        cached: true,
      },
      buttons: {
        add: {label: "Add new SubInterface", className: "openAddSubInterfaceModal"},
      }
    }
  include ../component/new/table

  -
    tableSettings = {
      key: "vlan",
      title: "VLAN Information",
      columns: [
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
        { label: "Number", name: "number", filter: {type: 'text'}},
        { label: "Mode", name: "mode", filter: {type: 'text'}},
        { label: "Interface VLAN", name: "intervlanName", filter: {type: 'text'}},
        { label: "Purpose", name: "purpose", filter: {type: 'text'}},
        { label: "Status", name: "status", filter: {type: 'text'}},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}},
        { label: "Created At", name: "createdAt", filter: {type: 'text'}}
      ],
      filterable: true,
      data: {
        url: data.links.vlanData.url,
        method: data.links.vlanData.method,
        cached: true,
      },
      buttons: {
        add: {label: "Add new VLAN to this module", className: "openAddVlanModal"},
      }
    }
  include ../component/new/table

  // new VLAN form
  include ../vlan/newForm
  +addVLAN('interface', data.links.addVlan.url)

  each item in data.others
    div
      pre= JSON.stringify(item,null,2)
