extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Power Distribution', url: '/powerDistribution'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deletePowerDistribution',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Power Distribution',
        label: 'Delete this Power Distribution',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editPowerDistribution',
      title: 'Power Distribution Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/POWER_DISTRIBUTION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
        {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'currentType', label: 'Current Type', type: 'select', value: data.currentType, settings: {remote: {url: '/ReferenceObject/CURRENT_TYPE', method: 'GET'}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'voltage', label: 'Voltage', type: 'text', value: data.voltage},
        {name: 'ampere', label: 'Ampere', type: 'text', value: data.ampere},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "tablePowerUnit",
      title: "Power Unit",
      filterable: true,
      columns: [
        {label: "Type", name: "type", filter: {type: 'text'}},
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Sequence", name: "sequence", filter: {type: 'text'}},
        {label: "Voltage", name: "voltage", filter: {type: 'text'}},
        {label: "Ampere", name: "ampere", filter: {type: 'text'}},
        {label: "Status", name: "status", filter: {type: 'text'}},
        {label: "Created At", name: "createdAt", filter: {type: 'text'}}
      ],
      data: data.powerUnit,
      buttons: {
        delete: {label: "Remove Power Unit from this Power Unit", link: "delete", callback: "deleteCallback"}
      }
    }
   
    tableSettings.buttons.add = {label: "Add Power Unit", className: "openAddPowerUnit"}
    
  include ../component/new/table

  //- -
  //-   modalForm = {
  //-     key: "openAddPowerUnit",
  //-     title: "Create Power Unit",
  //-     form: {
  //-       url: "/powerUnit",
  //-       fields: [
  //-           { name: "pduId", type: "hidden", value: data._id },
  //-           { name: "type", label: "Type", type: "select", placeholder: "ex. Type Power Distribution", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/POWER_DISTRIBUTION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
  //-           { name: "name", label: "Name", placeholder: "ex. PDU-2-B-OUTLET5", validate:'empty', required:true},
  //-           { name: "label", label: "Label", placeholder: "ex. Power Unit B1.1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
  //-           { name: "sequence", label: "Sequence", placeholder: "ex. 1", validate:'empty', required:true},
  //-           { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
  //-           { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "ex. GDLT", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
  //-           { name: "model", label: "Model", type: "select", placeholder: "ex. GT-N022", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
  //-           { name: "currentType", label: "Current Type", type: "select", placeholder: "ex. AC", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/CURRENT_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
  //-           { name: "voltage", label: "Voltage (Volt)", placeholder: "ex. 60", validate:'empty', required:true},
  //-           { name: "ampere", label: "Ampere (Amp)", placeholder: "ex. 60", validate:'empty', required:true},
  //-           { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}, 
  //-       ]
  //-     },
  //-     trigger: {
  //-       className: "openAddPowerUnit"
  //-     }
  //-   }
  //- include ../component/new/modalForm
  -
    modalForm = {
      key: "openAddPowerUnit",
      title: "Create Power Unit ["+data.name+"]",
      name : data.name,
      pduUid : data.uid,
      trigger: {
        className: "openAddPowerUnit"
      }
    }
  

  include ../component/new/modalFormPowerUnit
  
  
