extends ../layout

block breadcrumb
  +breadcrumb('Asset', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Asset",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Asset", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createAsset",
      title: "Create Asset",
      form: {
        url: "/asset",
        fields: [
            { name: "type", label: "Location Type", placeholder: "ex. IDC", validate:'empty', required:true},
            { name: "name", label: "Location Name", placeholder: "ex. IDC Lembong", validate:'empty', required:true},
            { name: "uid", label: "Site ID", placeholder: "ex. TDC-01", validate:'empty', required:true},
            { name: "address", label: "Address", placeholder: "ex. Jl. Lembong No.15 Bandung", validate:'empty', required:true},
            { name: "geometry", label: "Geometry", placeholder: "ex. 1970.01.01 07:00:00 +7", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm