extends ../layout

block breadcrumb
  +breadcrumb('PhysicalDevice', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "physicaldevice",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method
      },
      buttons: {
        add: {label: "Create a new Physical Device", className: "openAddPhysicalDeviceModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addPhysicalDevice",
      title: "Create PhysicalDevice",
      trigger: {
        className: "openAddPhysicalDeviceModal"
      },
      form: {
        url: "/PhysicalDevice",
        fields: [
          {name: "networkLocation", label: "Network Location", type: 'search', placeholder: "ex. ODP-LBG-FBV/083", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
            settings: {
              remote : {
                url: "/info/locn",
                query: "locnQuery",
              },
              resultMapping: { dataIndex: '', label: 'name', value: 'name' },
              minChar: 3
            },},
          {name: "name", label: "Name", type: 'text', placeholder: "ex. ODP-LBG-FBV/083 FBV/D05/083.01", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          {name: "specification", label: "Specification", type: 'select', placeholder: "ex. ODC", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/specificationCostume'}, resultMapping: {label: "name", value: 'name'}}},
          {name: "manufacturer", label: "Manufacturer", type: 'select', placeholder: "ex. HUAWEI", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/manufacturer'}, resultMapping: {label: "name", value: 'name'}}},
          {name: "description", label: "Description", type: 'required', placeholder: "ex. Desc", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true}
          ],
        buttonLabel: "Create",
      },
    }
  include ../component/new/modalForm

