extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Room', url: '/Room'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    function deletePhoto(locid,uid){
      alert('DELETED !')
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteRoom',
      delete: {
        //- url: data.room.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRoom',
      title: 'Room Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/ROOM_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'squareMeter', label: 'Square Meter (m²)', type: 'text', value: data.squareMeter},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.room.links.edit.url,
          label: 'Edit room information',
        }
      }
    }
  include ../component/new/fieldList

  -
    let tabSettings = {
      tab : [
        {
          name : "=TAB=",
          key : "tab1",
          pathCollection : [],
          active : true
        },
        {
          name : "Map",
          key : "tab2",
          pathCollection :[
            {
              path : "tab/map",
              data : {}
            }
          ],
          active : false
        },
       {
          name : "Space",
          key: "tab3",
          pathCollection : [
            {
              path : "tab/space",
              data : {
                  datatable : data.space,
              }
            },
            {
              path : "tab/rack",
              data : {
                  datatable : data.rack,
              }
            },
          ],
        },
        {
          name : "Electricity",
          key : "tab4",
          pathCollection : [
            {
              path : "tab/powerSource",
              data : {
                datatable : data.powerSource
              }
            },
            {
              path : "tab/powerEquipment",
              data : {
                datatable : data.powerEquipment
              }
            },
            {
              path : "tab/powerDistribution",
              data : {
                datatable : data.powerDistribution
              }
            },
            {
              path : "tab/battery",
              data : {
                datatable : data.battery
              }
            }
          ],
          active : false
        },
        {
          name : "Connectivity",
          key: "tab5",
          pathCollection: [
            {
              path : "tab/networkElement",
              data : []
            },
            {
              path : "tab/frameContainer",
              data : []
            },
            {
              path : "tab/cable",
              data : []
            }
          ]
        },
        {
          name : "Service",
          key: "tab6",
          pathCollection : [
            {
              path : "tab/customer",
              data : []
            },
            {
              path : "tab/service",
              data : []
            },
            {
              path : "tab/reservation",
              data : []
            }
          ],
          active : false
        },
        {
          name : "Attachment",
          key : "tab7",
          pathCollection:[
            {
              path : "tab/photo",
              data : []
            },
            {
              path : "tab/video",
              data : []
            },
            {
              path : "tab/document",
              data : []
            },
            {
              path : "tab/360view",
              data : []
            }
          ]
        },
        {
          name : "Asset",
          key : "tab8",
          pathCollection:[
            {
              path : "tab/capex",
              data : []
            },
            {
              path : "tab/opex",
              data : []
            }
          ]
        },
        {
          name : "Contact",
          key : "tab9",
          pathCollection:[
            {
              path : "tab/responsible",
              data : []
            },
            {
              path : "tab/accountable",
              data : []
            },
            {
              path : "tab/controller",
              data : []
            },
            {
              path : "tab/informer",
              data : []
            }
          ]
        },
        {
          name : "Event",
          key : "tab10",
          pathCollection:[
            {
              path : "tab/maintenance",
              data : []
            },
            {
              path : "tab/project",
              data : []
            }
          ]
        }
      ]
    } 
  include ../component/new/tab

