include input

div.ui.fluid.card
  div.content
    div.header= cardDetails.title
    each fields in cardDetails.fields
      each field, index in fields
        if(field.label)
          div.ui.divider
          div.meta !{field.label ? field.label : '&nbsp;'}
        else
          div(style="height: 88px")
        - field.label = ""
        if(field.value !== undefined)
          +inputComponent(cardDetails.key, field)
